---
layout: default
single: true
---

<div>
<article class="hentry" role="article">
  {% include article.html %}
  <footer>
    <p class="article-footer-meta">
      {% include post/categories.html %}
    </p>
    <div class="article-footer-meta">
      {% if page.previous.url %}
        <a class="previous-post" href="{{page.previous.url}}" title="Previous Post">Prev</a>
      {% endif %}
      {% if page.next.url %}
        {% if page.previous.url %}
          <span class="post-pagination-delimiter">|</span>
        {% endif %}  
        <a class="next-post" href="{{page.next.url}}" title="Next Post">Next</a>
      {% endif %}
    </div>
  </footer>
</article>
