	<ul class="nav_items">
		<li>
			<a href="{{ root_url }}/about" class="icon-alone">
				<span aria-hidden="true" data-icon="&#xe001;"></span>
				<span class="screen-reader-text">ABOUT</span>
			</a>
		</li>
		<li class="nav_delimiter">&nbsp;</li>
		<li>
			<a href="http://twitter.com/{{ site.twitter_user }}" class="icon-alone">
				<span aria-hidden="true" data-icon="&#xe003;"></span>
				<span class="screen-reader-text">TWITTER</span>
			</a>
		</li>
		<li class="nav_delimiter">&nbsp;</li>
		<li>
			<a href="http://github.com/{{ site.github_user }}" class="icon-alone">
				<span aria-hidden="true" data-icon="&#xe005;"></span>
				<span class="screen-reader-text">GITHUB</span>				
			</a>
		</li>		
		<li class="nav_delimiter">&nbsp;</li>
		<li>
			<a href="{{ site.subscribe_rss }}" class="icon-alone">
				<span aria-hidden="true" data-icon="&#xe002;"></span>
				<span class="screen-reader-text">RSS</span>
			</a>
		</li>
		<li class="nav_delimiter">&nbsp;</li>
		<li>
			<a href="mailto:{{ site.email }}" class="icon-alone">
				<span aria-hidden="true" data-icon="&#xe009;"></span>
				<span class="screen-reader-text">MAIL</span>				
			</a>			
		</li>
	</ul>
