h1.entry-title {
	font-family: $serif;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 0.5em;

	> a, a:visited, a:hover {
		text-decoration: none;
		border-bottom: 0;
	}
}

@mixin article-meta-base {
  margin: 0.5em 0;
  ul, li {
    color: $text-color-light;
    text-transform: uppercase;
    margin: 0 0 0 0;
    display: inline-block;
  }
  a, a:visited, a:hover {
    text-decoration: none;
    border-bottom: 0;
    padding: 0;
  }  
}

@mixin article-meta-resp($font-factor, $padding) {
  font-size: $base-font-size * $font-factor;
  ul, li {
    padding-right: $padding;
  }
}

.article-meta {
  @include article-meta-base;
}

@mixin article-digest-base {
  text-decoration: none;
  border-bottom: 0;
  &:hover {
    border-bottom: 0;
  }  
}

@mixin article-digest-resp($font-factor, $letter-spacing) {
    font-size: $base-font-size * $font-factor;
    letter-spacing: $letter-spacing;  
}

.article-digest {
  @include article-digest-base;
}

@mixin article-footer-meta-base {
  line-height: 1.5em;
  @include spartan-content-link;
}

@mixin article-footer-meta-resp($font-factor){
  font-size: $base-font-size * $font-factor;  
}

.article-footer-meta {
  @include article-footer-meta-base;
  @include article-footer-meta-resp(0.8);
}

@mixin article-bio($top-padding, $font-factor) {
  padding-top: $top-padding;
  text-align: center;
  p {
    line-height: $base-line-height;
    font-size: $base-font-size * $font-factor;   
  }
}

@mixin entry-content($font-factor, $letter-spacing, $line-height-factor, $bottom-margin){
  p, ul, pre code, blockquote p {
    font-size: $base-font-size * $font-factor;
    letter-spacing: $letter-spacing;
    line-height: $base-line-height * $line-height-factor;
  }
  p {
    margin-bottom: $bottom-margin;
  }
}

.post-pagination-delimiter {
  font-size: $base-font-size;
  margin: 0 5px;
  font-weight: bold;
}

img.body-img {
  max-width:100%;
  height:auto;
  padding:5px;
  border:1px solid #d8d5d5;
}

article {
  padding-top: 1em;

  .entry-content {
    h3 {
      font-style: italic
    }
    @include spartan-content-link;
    li ul {
      font-size : 90%;
    }
  }

  ul, ol {
    margin-left: 2em;
  }

  ul, li {
    display: list-item;
    list-style: square outside none;
  }

  header {
    h1.entry-title {
      font-family: $serif;
      font-style: italic;
      font-weight: 400;
    }
  }
}

@media only screen and (max-width: 480px) {        
  h1.entry-title { 
    font-size: $base-font-size * 0.8; // iphone header font
    line-height: $base-line-height * 0.8;
  }
  .entry-content {
    @include entry-content(0.5,0.5px,1.0,1em);
  	ul {
  		margin-left: 0.5em;
  	} 
  }
  .blog-index {
    article {
      padding-top: 0.5em;
    }
  }    
  .article-meta {
    @include article-meta-resp(0.6,10px);
  }
  .article-digest {
    @include article-digest-resp(0.5,0.5px);
  }
  .article-footer-meta {
    @include article-footer-meta-resp(0.5);  
  }
  .article-bio {
    @include article-bio(1.0em,0.6); 
  }     
}

@media only screen and (max-width: 640px) {        
  h1.entry-title { 
    font-size: $base-font-size * 0.8; // iphone header font
    line-height: $base-line-height * 0.8;
  }
  .entry-content {
    @include entry-content(0.5,0.5px,1.0,1em);
    ul {
      margin-left: 0.5em;
    } 
  }
  .blog-index {
    article {
      padding-top: 0.5em;
    }
  }    
  .article-meta {
    @include article-meta-resp(0.6,10px);
  }
  .article-digest {
    @include article-digest-resp(0.5,0.5px);    
  }
  .article-footer-meta {
    @include article-footer-meta-resp(0.5);
  }
  .article-bio {
    @include article-bio(1.0em,0.6); 
  }
}

@media only screen and (min-width: 768px) {        
  h1.entry-title { 
    font-size: $base-font-size * 1.2; // ipad header font
    line-height: $base-line-height * 0.8;
  }
  .entry-content {
    @include entry-content(0.8,0.5px,1.0,1.2em);    
  }
  .blog-index {
    article {
      padding-top: 2.0em;
    }
  }  
  .article-meta {
    @include article-meta-resp(0.8,15px);
  }
  .article-digest {
    @include article-digest-resp(0.8,0.5px);    
  }  
  .article-footer-meta {
    @include article-footer-meta-resp(0.75);    
  }
  .article-bio {
    @include article-bio(2.0em,0.8); 
  }  
}

@media only screen and (min-width: 1224px) {        
  h1.entry-title { 
    font-size: $base-font-size * 1.6; // laptop/desktop header font
    line-height: $base-line-height * 0.8;
  }
  .entry-content {
    @include entry-content(0.8,0.5px,1.0,1.5em);    
  }
  .blog-index {
    article {
      padding-top: 2.0em;
    }
  }  
  .article-meta {
    @include article-meta-resp(1.0,15px);
  }  
  .article-digest {
    @include article-digest-resp(0.8,0.5px);    
  }  
  .article-footer-meta {
    @include article-footer-meta-resp(0.8);
  }
  .article-bio {
    @include article-bio(2.0em,0.8); 
  }  
}

@media only screen and (min-width: 1900px) {        
  h1.entry-title { 
    font-size: $base-font-size * 1.6; // laptop/desktop header font
    line-height: $base-line-height * 0.8;
  }
  .entry-content {
    @include entry-content(0.8,0.5px,1.0,1.5em);    
  }
  .blog-index {
    article {
      padding-top: 2.0em;
    }
  }   
  .article-meta {
    @include article-meta-resp(1.0,15px);
  }  
  .article-digest {
    @include article-digest-resp(0.8,0.5px);    
  }  
  .article-footer-meta {
    @include article-footer-meta-resp(0.8);
  }
  .article-bio {
    @include article-bio(2.0em,0.8); 
  }  
}
